.bg-image{
    background-color: #162b50;
    height: 400px;
    padding: 0;
}
.div-left{
    width: 40%;
}
.img-header{
    display: inline-block;
    float: left;
    margin: 0;
    height: 400px;
}
.logo{
    float: right;
    width: 50%;
}
.logo img{
    display: inline-block;
    height: 400px;
}
.navbar{
    margin: 0;
    padding: 0;
    top: -50px;
    display: inline-block;
    width: 300px;
    height: 50px;
}
.container-fluid{
    background-color: #162b50;
    color: white;
    height: 50px;
    line-height: 50px;
}
.navbar-expand-lg {
    padding: 0;
    margin: 0;
}
.nav-item{
    font-size: 20px;
    padding: 10px;

}
.nav-item a{
    color: white;
}
.filter-container{
    background-color: darkgray;
    margin: 0;
    width: 100%;
    height: 55px;
    line-height: 40px;
    padding: 10px;
}
.amenity-type{
    padding-left: 10px;
    display: inline-block;
}
header{
    height: 400px;
}
.radio-container{
    display: inline-block;
    margin-left: 20px;
}
.search-bar{
    height: 40px;
    display: inline-block;
    float: right;
    line-height: 40px;

}
.search-bar input{
    height: 30px;
    margin-right: 30px ;
}
.filter-btn{
    background: #162b50;
    margin-left: 30px;
}
.select-filter{
    display: inline-block;
    width: fit-content;
    margin-left: 20px;
}
body {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
    background-color: #f5f5f5
}

.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

.bg-teal-400 {
    background-color: #26a69a
}

a {
    text-decoration: none !important
}

.fa {
    color: red
}


* {
    margin: 0;
    padding: 0
}

.card {
    background-color: #fff;
    padding: 10px;
    border: none;
    height: 400px;
    position: relative;
    cursor: pointer
}

.product-image img {
    position: absolute;
    top: -50px;
    width: 400px;
    transition: all 0.5s
}

.card:hover .product-image img {
    transform: rotate(10deg)
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label:nth-child(1) span {
    padding: 10px;
    border-radius: 50%;
    border: 2px solid gray;
    display: inline-block;
    background-color: gray;
    text-transform: uppercase;
    position: relative;
    transition: all 2s
}

label:nth-child(2) span {
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #000;
    display: inline-block;
    color: #8f37aa;
    text-transform: uppercase;
    position: relative;
    transition: all 2s
}

label:nth-child(3) span {
    padding: 10px;
    border-radius: 50%;
    border: 2px solid pink;
    background-color: pink;
    display: inline-block;
    color: #8f37aa;
    text-transform: uppercase;
    position: relative;
    transition: all 2s
}

label.radio input:checked+span::after {
    content: '\f179';
    font-family: 'fontawesome';
    position: absolute;
    left: 6px;
    top: 2px;
    font-size: 11px;
    color: #fff
}

.button {
    width: 200px;
    height: 48px;
    border: none;
    border-radius: 30px;
    position: absolute;
    bottom: 20px;
    background-color: #126ef9;
    color: #fff
}

.button i {
    margin-top: 1px
}

@media (max-width:770px) {
    .product-image img {
        position: absolute;
        top: 130px;
        right: 10px;
        width: 250px
    }
}

@media (max-width:470px) {
    .product-image img {
        position: absolute;
        top: 190px;
        right: 10px;
        width: 150px
    }
}


.details-div{
    margin-top: 50px;
}
.product-image img{
    width: 150px;
}
